.cards {
  &__container {
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    justify-content: flex-end;

    align-items: center;
    margin: 20px;
  }
  &__cards {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-style: italic;

    color: rgb(8, 46, 216);
  }
  &__card {
    display: flex;
    width: 140px;
    height: 120px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(71, 230, 97);
    align-items: center;
    margin: 20px;
    border: 1px solid black;
    border-radius: 15px;
    &:hover {
      cursor: pointer;
    }
  }
  &__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
font-size: 40px;
    width: 988px;
    height: 560px;
    position: absolute;
    z-index: 2;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;

    &__cross {
      top: 10px;
      right: 10px;
      position: absolute;
      &:hover {
        cursor: pointer;
      }
    }
    &__img {
      display: flex;
      justify-content: center;
      width: 400px;
      height: 285px;
      padding: 10px;
    }

    &__input {
      justify-content: center;
    }
  }
}
